body {
  background: #190000;
}
body .snake-game__grid {
  border-color: red;
  background-color: #350d11;
}

.food {
  background-color: #cabd07;
  border: 0.25vmin solid white;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  width: 100vw;
}
body .snake-game__grid {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 80vmin;
  width: 80vmin;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #f5cf54;
  border-radius: 20px;
}
body footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body button {
  margin: 5px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  padding: 7px 18px;
  border-radius: 8px;
  background-color: #555555;
  color: aliceblue;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body button:hover {
  background-color: #4CAF50;
  color: white;
}

.snake {
  background-color: #007400;
  border: 0.25vmin solid white;
}

body {
  font-family: sans-serif;
  font-size: 3vmin;
  color: #f5cf54;
}