body {
  background: radial-gradient(circle, #7a2048, #6b1f52, #58215a, #40245f, #1e2761);
}
body .snake-game__grid {
  background-color: #000000;
}

.food {
  background-color: #f162ff;
  border: 0.25vmin solid white;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  width: 100vw;
}
body .snake-game__grid {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 70vmin;
  width: 70vmin;
  box-shadow: 0 6px 20px 0 #000000, 0 6px 20px 0 #000000;
  border-radius: 20px;
}
body footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body button {
  margin: 10px;
  border: none;
  font-size: 12px;
  font-weight: 400;
  padding: 15px 18px;
  border-radius: 100px;
  background-color: #e6f4f1;
  color: #000000;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body button:hover {
  background-color: #00C9C9;
  color: white;
}
body .button--arrow {
  margin: 10px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Comfortaa", cursive;
  padding: 6px 25px;
  border-radius: 100px;
  background-color: #E6F4F1;
  color: #000000;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.snake {
  background-color: #00C9C9;
  border: 0.25vmin solid #02bdbd;
}

body {
  font-family: "Permanent Marker", cursive;
  font-size: 3vmin;
  color: #ffffff;
}